body > #root > div {
  height: 100vh;
}

body {
  background-color: black;
  background-image: url('burger_or_dog.png');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
